<form [formGroup]="ownerForm" (ngSubmit)="onSubmit()" class="p-3">

  <div class="form-group row">

    <label for="lastName" class="col-sm-1 col-form-label py-3">Фамилия</label>
    <div class="col-sm-2">
      <input id="lastName" formControlName="lastName" type="text" class="form-control">
    </div>

  </div>

  <div class="form-group row">

    <label for="firstName" class="col-sm-1 col-form-label py-3">Имя</label>
    <div class="col-sm-2">
      <input id="firstName" formControlName="firstName" type="text" class="form-control">
    </div>

  </div>

  <div class="form-group row">

    <label for="middleName" class="col-sm-1 col-form-label py-3">Отчество</label>
    <div class="col-sm-2">
      <input id="middleName" formControlName="middleName" type="text" class="form-control">
    </div>

  </div>
  <div formArrayName="cars" class="container-fluid">
    <h3>Aвтомобили</h3>
    <div *ngFor="let car of cars.controls; let i=index">
      <div [formGroupName]="i" class="row justify-content-start">


        <div class="form-group col-md-2">
          <label for="number">Номер</label>
          <input id="number" formControlName="number" class="form-control" type="text">

          <div *ngIf="number(i)?.invalid && (number(i)?.dirty || number(i)?.touched)" class="alert alert-danger">

            <div *ngIf="number(i)?.errors?.required">Номер обязателен к заполнению.</div>
            <div *ngIf="number(i)?.errors?.pattern">Номер должен состоять из 2-х букв 4-х цифр и 2-х букв.</div>

          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="manufacturer">Марка</label>
          <input id="manufacturer" class="form-control" formControlName="manufacturer"  type="text">

          <div *ngIf="manufacturer(i)?.invalid && (manufacturer(i)?.dirty || manufacturer(i)?.touched)" class="alert alert-danger">

            <div *ngIf="manufacturer(i)?.errors?.required">Марка автомобиля обязателена к заполнению.</div>

          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="model">Модель</label>
          <input id="model" formControlName="model" class="form-control" type="text" >

          <div *ngIf="model(i)?.invalid && (model(i)?.dirty || model(i)?.touched)" class="alert alert-danger">

            <div *ngIf="model(i)?.errors?.required">Модель автомобиля обязательна к заполнению.</div>

          </div>
        </div>

        <div class="form-group col-md-1">
          <label for="year">Год</label>
          <input id="year" formControlName="year" class="form-control" type="text" required pattern="[0-9]{4}">

          <div *ngIf="year(i)?.invalid && (year(i)?.dirty || year(i)?.touched)" class="alert alert-danger">

            <div *ngIf="year(i)?.errors?.required">Год выпуска автомобиля обязателен к заполнению.</div>
            <div *ngIf="year(i)?.errors?.pattern">Год выпуска должен состоять из 4-х цифр.</div>

          </div>
        </div>

        <div class="form-group col-md-2">
          <button class="btn btn-danger" (click)="removeCar(i)">
            <fa-icon style="color: #fff; font-size: 15px; margin-right: 0px;" [icon]="faTrashAlt"></fa-icon>
          </button>
        </div>

      </div>
    </div>
  </div>

    <div>
      <button (click)="addCar()" class="btn btn-primary my-4 mx-2" type="button">
        <fa-icon [icon]="faPlus"></fa-icon>Добавить автомобиль
      </button>

      <button [disabled]="!ownerForm.valid" type="submit" class="btn btn-primary m-2">
        <fa-icon [icon]="faSave"></fa-icon>Сохранить
      </button>
    </div>

    <div>
      <button type="button" (click)="goBack()" class="btn btn-secondary mx-2" >
        <fa-icon [icon]="faArrowCircleLeft"></fa-icon>Назад
      </button>
    </div>
  </form>
