<form [formGroup]="ownerForm" (ngSubmit)="onSubmit()">

    <div class="form-group p-2">

      <label for="lastName" class="col-sm-1 col-form-label">Фамилия</label>
      <input id="lastName" formControlName="lastName" type="text"class="form-control mx-sm-3">


      <label for="firstName" class="col-sm-1 col-form-label">Имя</label>
      <input id="firstName" formControlName="firstName" type="text" class="form-control mx-sm-3">


      <label for="middleName" class="col-sm-1 col-form-label">Отчество</label>
      <input id="middleName" formControlName="middleName" type="text" class="form-control mx-sm-3">

    </div>

    <div formArrayName="cars">
      <h3>Aвтомобили</h3>
      <div *ngFor="let car of cars.controls; let i=index">
        <div [formGroupName]="i">
          <label for="number">Номер</label>

          <input id="number" formControlName="number" type="text" class="form-control" [class.is-invalid]="car.get('number')?.invalid" requared >

          <!-- <div *ngIf="ownerForm.controls['number'].invalid && (ownerForm.controls['number'].dirty || ownerForm.controls['number'].touched)" class="alert alert-danger">
              Номер обязателень к заполнению.

            <div *ngIf="ownerForm.controls['number'].errors?.requared">
              Номер обязателень к заполнению.
            </div>

            <div *ngIf="ownerForm.controls['number'].errors?.pattern">
              Номер должен состоять из 2-х букв 4-х цифр и 2-х букв.
            </div>

          </div> -->

          <label for="manufacturer">Марка</label>
          <input id="manufacturer" formControlName="manufacturer"  type="text" >

          <label for="model">Модель</label>
          <input id="model" formControlName="model" type="text" >

          <label for="year">Год</label>
          <input id="year" formControlName="year" type="text" required pattern="[0-9]{4}">

          <button class="btn btn-danger" (click)="removeCar(i)">
            <fa-icon style="color: #fff; font-size: 25px;" [icon]="faTrashAlt"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div>
      <button (click)="addCar()" class="btn btn-primary my-4 mx-2" type="button">
        <fa-icon [icon]="faPlus"></fa-icon>Добавить автомобиль
      </button>

      <button [disabled]="!ownerForm.valid" type="submit" class="btn btn-primary m-2">
        <fa-icon [icon]="faSave"></fa-icon>Сохранить
      </button>
    </div>

    <div>
      <button type="button" (click)="goBack()" class="btn btn-secondary mx-2" >
        <fa-icon [icon]="faArrowCircleLeft"></fa-icon>Назад
      </button>
    </div>
  </form>
