<form #form="ngForm" class="form-horizontal">
  <div class="form-group row p-2">
    <label for="aLastName" class="col-sm-1 col-form-label">Фамилия</label>
    <div class="col-sm-2">
      <input id="aLastName" type="text" name="name" class="form-control mx-sm-3" />
    </div>
  </div>
  <div class="form-group row p-2">
    <label for="aFirstName" class="col-sm-1 col-form-label">Имя</label>
    <div class="col-sm-2">
      <input id="aFirstName" type="text" name="name" class="form-control mx-sm-3" />
    </div>
  </div>
  <div class="form-group row p-2">
    <label for="aMiddleName" class="col-sm-1 col-form-label">Отчество</label>
    <div class="col-sm-2">
      <input id="aMiddleName" type="text" name="name" class="form-control mx-sm-3" />
    </div>
  </div>
</form>
<app-cars></app-cars>


