<div class="container-fluid">
  <h2>Владельци автомобилей</h2>
  <div class="buttons">
    <button type="button" class="btn btn-secondary mr-5">Добавить</button>
    <button type="button" [disabled]="!selectedId" class="btn btn-secondary mx-1">Просмотр</button>
    <button type="button" [routerLink]="['/owners', selectedId]" [disabled]="!selectedId" class="btn btn-secondary mx-1">Редактировать</button>
    <button type="button" [disabled]="!selectedId" class="btn btn-secondary mx-1">Удалить</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover" *ngIf="owners">
      <thead>
        <tr>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Отчество</th>
          <th>Количество автомобилей</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let owner of owners">
          <td (click)="changeEvent(owner.id)">
            <a [routerLink]="['/owners', owner.id]">{{owner.lastName}}</a>
          </td>
          <td>{{owner.firstName}}</td>
          <td>{{owner.middleName}}</td>
          <td>{{owner.cars}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

